<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Arboretum Home
    </title>
</head>

<body>
    <h1>Arb Tasks</h1>
    <% if (id) { %>
        <p>Your current username is <%= id %>.</p>
        <p>If this is corrent, click the Go to Instructions button.</p>
        <form action="/instr" method="get">
            <input type="submit" value="Go to Instructions Page" />
        </form>
    
    <% } else { %>
        <p>Please enter a username and click the Submit button.</p>
        <form action="/" method="post">
            <input type="text" name="id" value="Enter a username" />
            <input type="submit" value="Submit" />
        </form>
    <% } %>

</body>

</html>