<!DOCTYPE html>
<html lang="en">

<head>
	<title>Shared Web Browsing Instructions</title>
	<script>
	startTasks = () => {
		window.location = '/task/?next=1C';
		/*
		if(confirm("Are you sure you're ready to start the tasks?")) {
			window.location = '/task/?next=1C';
		} else {
			alert("Okay, we're sending you back.");
		}
		*/
	}
	</script>
	<% console.log('Instr, Logged in as: ', id) %>
</head>

<body>
	<h1>Instructions</h1>

	<p>You will be asked to complete 3 tasks. After completing the 3 tasks, you will be asked to fill out a brief survey. Each task consists of a Task Page and a Shared Webpage. 
		<ul>
			<li>The Task Page is the first page you will see for each of the 3 tasks.
				This page contains instructions for the particular task.
				Specifically, from the Task Page, you will click a button that opens the Shared Webpage in another tab in your browser.
				You will be asked to locate a specific piece of information on the Shared Webpage. This piece of information may not be accessible via your screen reader.
				Once you locate this piece of information, you will need to enter it into a text-field on the Task Page and then submit it.
			</li>
			<li>
				The Shared Webpage has two panels: a chat panel that allows you to communicate with a remote sighted worker, and (in another panel) the webpage content that contains the piece of information you need to find.
				You can communicate with the remote sighted worker to collaborate in finding the piece of information.
				The remote worker will see the same Shared Webpage that you do, but you are in control.
				The remote worker can only propose actions to take (such as clicking a particular button), and you must either accept or reject them via the chat panel.
				The remote worker's proposed actions will appear as messages in the chat.
				If at any point the Shared Webpage content disappears (i.e., the webpage content panel is empty), try refreshing the browser tab until it appears.
			</li>
		</ul>
	</p>
	<p>If you have any questions, feel free to contact Alan Lundgard via email / Google Hangouts at arlu@umich.edu or phone at 1-989-600-8595.</p>

	<h2>If you have read and understood the instructions, click the following button to begin the tasks.</h2>

	<button onclick="startTasks()">Start Tasks</button>

</body>

</html>