<!DOCTYPE html>
<html lang="en">

<head>
	<title>Shared Web Browsing Instructions</title>
	<script>
	startTasks = () => {
		if(confirm("Are you sure you're ready to start the tasks?")) {
			window.location = '/task';
		} else {
			alert("Okay, we're sending you back.");
		}
	}
	</script>
</head>

<body>
	<h1>Instructions [Under Construction]</h1>

	<p>Each task consists of the following...
		<ul>
			<li>First, you will be redirected to the task page.
				This page contains instructions for that task
				A link to the webpage
				A set of questions to answer after searching through the webpage	
			</li>
			<li>
				When you click the link to the webpage, it will open two additional tabs
				One tab will display the original web content
				The other tab will display a chat interface, connecting you to a remote sighted worker
				The remote worker will see the same webpage you do, so you can ask them to help you with the task
			</li>
			<li></li>	
		</ul>
	</p>
	<p>If you have any questions, feel free to contact Alan Lundgard at 1-989-600-8595.</p>

	<h2>If you have read and understood the instructions, click the following button to begin the tasks.</h2>

	<button onclick="startTasks()">Start Tasks</button>

</body>

</html>