/*
	************************************************************ Body Simple A **
	************************************************************ Body Simple A **
	************************************************************ Body Simple A **
*/

body.simple-a {
	width:auto;
}

body.simple-a > section {

}

body.simple-a header,
body.simple-a #WNHeader,
body.simple-a nav,
body.simple-a #WNCols234-5,
body.simple-a footer {
	width:980px;
	margin:0 auto;
}

body.simple-a #WNColsAll,
body.simple-a #WNCols234-5 {
	float:none;
	display: block;
}

body.simple-a #WNColsAll:after,
body.simple-a #WNCols234-5:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

body.simple-a #WNColsAll {
	font-size:1em;
}

body.simple-a #WNCols234-5 {
	font-size:1.2em;
}

body.simple-a .displaySize {
	font-size: 1em;
}

body.simple-a .displaySize .caption {
	font-size: .8em;
}

/*@media (max-width:650px) {
	body.simple-a #WNCols234-5,
	body.simple-a #WNCols23-4,
	body.simple-a #WNCol23,
	body.simple-a #WNCol4 {
		clear:both !important;
		display: block !important;
		width: 100% !important;
		margin: 0 10px;
	}
}*/

/*body.simple-a .displaySizeId24 li.wnItem {
	list-style-type: decimal;
}
*/
/*
	********************************************************** Header Simple A **
	********************************************************** Header Simple A **
	********************************************************** Header Simple A **
*/

header.simple-a #Masthead  {
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: auto 100%;
	height:135px;
}

header.simple-a #Masthead > ul {
	height: inherit;
}

header.simple-a #Masthead li.branding {
	vertical-align: top;
}

header.simple-a a.branding {
	display: block;
	width:100%;
	height:100%;
	overflow: hidden;
	cursor: pointer;
	text-indent: -999px;
}

header.simple-a li.block {
	width:300px;
}

header.simple-a li.tools {
	width:300px;
	padding:17px 0;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+33,ffffff+100&amp;0+0,0.66+33,1+100 */
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.66) 33%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(33%,rgba(255,255,255,0.66)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.66) 33%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.66) 33%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.66) 33%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.66) 33%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

header.simple-a li.tools > * {
	float:right;
	clear:both;
}

header.simple-a li.tools > div.social {
	font-size:2.5em;
	margin-bottom:5px;
}

header.simple-a li.tools > div.social > a {
	margin-left:5px;
}

header.simple-a div.social .facebook { color:#365C98; }
header.simple-a div.social .linkedin { color:#2F82C5; }
header.simple-a div.social .twitter { color:#5EA8E4; }
header.simple-a div.social .rss { color:#F56D30; }
header.simple-a div.social .email { color:#DA0A16; }

header.simple-a form.search {
	width:100%;
	text-align: right;
}

header.simple-a form.search * {
	border:0;
	margin:0;
	outline: none;
	padding:.2em 1em;
	font-size: 1.5em;
}

header.simple-a form.search .text {
	width:80%;
	border:1px solid #ddd;
	color:#888;
}

header.simple-a form.search .submit {
	width:20%;
	border:1px solid;
	cursor: pointer;
}

header.simple-a .membercenter:before {
	content: 'Member Center';
	margin-right: 1em;
}

header.simple-a .membercenter {
	padding:.5em;
	background-color: #eee;
}

header.simple-a .membercenter a {
	color:#000;
	margin-right:1em;
}

/*
	********************************************************** Header Simple C **
	********************************************************** Header Simple C **
	********************************************************** Header Simple C **
*/
header.simple-c .wnad {
	margin:0;

}

header.simple-c .wnad:before {
	display: none;
}

header.simple-c li.ad {
	width:728px;
}

header.simple-c nav.tools {
	padding:1em 0;
}

header.simple-c form.search {
	display: inline-block;
}

header.simple-c form.search input.text {
	width:15em;
}

header.simple-c #Masthead  {
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: auto 100%;
	height:90px;
}

header.simple-c #Masthead > ul {
	height: inherit;
}

header.simple-c li.branding {
	vertical-align: top;
}

header.simple-c a.branding {
	display: block;
	width:100%;
	height:100%;
	overflow: hidden;
	cursor: pointer;
	text-indent: -999px;
}

/*
	********************************************************** Navigation Simple A **
	********************************************************** Navigation Simple A **
	********************************************************** Navigation Simple A **
*/

nav.simple-a {

}

nav.simple-a > a {
	padding:.25em;
	font-size:2em;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	display: inline-block; /* This allows for correct padding */
}

nav.sub.simple-a {
}

nav.sub.simple-a > a {
	font-size: 1.3em;
	vertical-align: middle;
	padding:.5em;
}

nav.sub.simple-a > a:hover {
	text-decoration: underline;
}


/*
	********************************************************** Navigation Simple B **
	********************************************************** Navigation Simple B **
	********************************************************** Navigation Simple B **
*/

nav.simple-b {
    display: table;
}

/*
	********************************************************** Display Sizes - Breaking News a **
	********************************************************** Display Sizes - Breaking News a **
	********************************************************** Display Sizes - Breaking News a **
*/

section.block.breaking-news-a {
	text-align: center;
}

section.block.breaking-news-a summary,
section.block.breaking-news-a h5,
section.block.breaking-news-a time,
section.block.breaking-news-a a.image,
section.block.breaking-news-a a.more {
	display:none;
}

section.block.breaking-news-a .item {
	padding:0;
	overflow: visible;
	border:none;
}

section.block.breaking-news-a h4 {
	background-color: red;
    display: inline-table;
    text-align: center;
    width: 95%;
    margin: .75em !important;
}

section.block.breaking-news-a h4::before {
	content: "Breaking News";
	background-color: #000000;
    font-size: 17pt;
    padding: 10px;
    text-transform: uppercase;
    display: table-cell;
    color: white !important;
	text-align: center;
	width: 26%;
}

section.block.breaking-news-a h4::after {
	content: "Read More";
	display: table-cell;
    vertical-align: middle;
    background-color: black;
    text-align: center;
    width: 15%;
    color: white;
}

section.block.breaking-news-a a:hover {
	color: inherit;
}

/*
	********************************************************** Display Sizes - Breaking News B **
	********************************************************** Display Sizes - Breaking News B **
	********************************************************** Display Sizes - Breaking News B **
*/

section.block.breaking-news-b time,
section.block.breaking-news-b summary,
section.block.breaking-news-b h5,
section.block.breaking-news-b a.image {
	display: none;
}

section.block.breaking-news-b {

}

section.block.breaking-news-b .item h4:before {
	content: 'Breaking News';
	text-transform: uppercase;
	background-color: black;
	padding:.5em 1em;
	margin-top:-.5em;
	margin-left:-1em;
	margin-right: 1em;
	display: inline-block;
	float:left;
}

section.block.breaking-news-b .item h4:after {
	content: 'Read More';
	text-transform: uppercase;
	background-color: black;
	padding:.5em 1em;
	margin-left:1em;
	margin-right:-1em;
	display: inline-block;
	float:right;
	font-size: .7em;
}


section.block.breaking-news-b .item h4 {
	margin:1em 0;
	background-color: red;
	color:white;
	padding:.5em 1em;
}

/*
	********************************************************** Display Sizes - Breaking News C **
	********************************************************** Display Sizes - Breaking News C **
	********************************************************** Display Sizes - Breaking News C **
*/

section.block.breaking-news-c {
	border:4px solid #BD0900;
}

section.block.breaking-news-c h4,
section.block.breaking-news-c img {
	width: 100%;
	display: block;
}

section.block.breaking-news-c h4 {
	font-size: 1.5em;
	float:left
}

section.block.breaking-news-c a.headline:after {
	display: inline-block;
	float:left;
	clear:both;
	background-color: #000;
	color:#fff;
	content: 'Read More';
	font-size: .8em;
	padding: 0 .4em;
	margin-top:1em;
}

section.block.breaking-news-c summary,
section.block.breaking-news-c time,
section.block.breaking-news-c h5 {
	display: none;
}

section.block.breaking-news-c[data-ribbon]:before {
	background-color: #BD0900; 
	color:white;
	margin:0;
	width:100%;
	display: block;
}

section.block.breaking-news-c .item {
	padding:1em;
}

@media (min-width: 600px) {

	section.block.breaking-news-c a.image {
		padding-right:.5em;
	}

	section.block.breaking-news-c a.headline,
	section.block.breaking-news-c summary,
	section.block.breaking-news-c a.image {
		display: inline-block;
		width: 50%;
		float: left;
	}

	section.block.breaking-news-c .item {
		position: relative;
		clear:both;
		padding-bottom: 2em; /* comp for read more */
	}

	section.block.breaking-news-c .item:not(:last-child) {
		border-bottom: 4px solid #BD0900;
	}

	section.block.breaking-news-c a.headline:after {
		position: absolute;
		bottom: 2em;
    	left: 90%;
	}


}

/*
	********************************************************** Display Sizes - Breaking News D - Styling for 3 BN News Stories **
	********************************************************** Display Sizes - Breaking News D - Styling for 3 BN News Stories **
	********************************************************** Display Sizes - Breaking News D - Styling for 3 BN News Stories **
*/

/* BREAKING NEWS - MULTIPLE */

section.block.breaking-news-d {
    position: relative;
    background: #BD0900;
    padding-bottom: 20px;
    padding-left: 15px;
    min-height: 360px;
}

section.block.breaking-news-d:before {
    content: 'BREAKING NEWS';
    background-color: black;
    color: whitesmoke;
    display: block;
    margin-left: -15px;
    margin-top: 20px;
    padding: 5px 0px 5px 15px;
}

section.block.breaking-news-d ul li {
	position: relative;
}

section.block.breaking-news-d ul li:nth-child(2) {
	width: 50%;
	font-size: .5em;
	position: absolute;
	right: -115px;
	bottom: 125px;
}

section.block.breaking-news-d ul li:nth-child(3) {
	width: 50%;
	font-size: .5em;
	position: absolute;
	right: -115px;
	bottom: 40px;
}

section.block.breaking-news-d ul li:first-child img {
    height: 340px;
    width: auto;
    padding-top: 15px;
    display: inline-block;
}

section.block.breaking-news-d h4:first-child {
    font-size: 2.2em;
    padding: 15px;
    font-weight: bold;
    color: white;
    display: inline-block;
    width: 380px;
    padding-top: 10px;
    padding-bottom: 3px;
    color: whitesmoke;
}

/*section.block.breaking-news-d ul li:first-child h4:first-child:after {
	position: absolute;
	content: url(http://ftpcontent.worldnow.com/professionalservices/clients/wsil/images/video_icon.png);
    right: 565px;
    top: 120px;
}*/



section.block.breaking-news-d .item.story.hasclip a.headline h4:after {
	position: absolute;
	content: url(http://ftpcontent.worldnow.com/professionalservices/clients/wsil/images/video_icon.png);
    left: 191px;
    top: 125px;
}

section.block.breaking-news-d .item.clip a.headline h4:after {
	position: absolute;
	content: url(http://ftpcontent.worldnow.com/professionalservices/clients/wsil/images/video_icon.png);
    left: 235px;
    top: 130px;
}

section.block.breaking-news-d time {
    display: none;
}

section.block.breaking-news-d ul li:first-child p {
    display: inline-block;
    width: 380px;
    padding: 0px 15px 15px;
    margin: 0px;
    color: whitesmoke;
    font-size: 1.2em;
}

section.block.breaking-news-d ul li:first-child p:after {
	content: 'Read More';
	background-color: black;
	font-size: .8em;
    padding: 2px 4px 2px 4px;
    float: right;
}

section.block.breaking-news-d ul li:first-child summary {
    max-height: 112px;
}

section.block.breaking-news-d ul li:not(:first-child) p {
    display: none
}

section.block.breaking-news-d ul .relatedStories li:first-child img {
    position: absolute;
    right: 220px;
    bottom: 35px;
    width: 38%;
    max-height: 89px;   
}

section.block.breaking-news-d .relStories {
	color: white;
    position: absolute;
    right: 263px;
    bottom: 114px;
}

section.block.breaking-news-d ul .relatedStories {
    border-top: 3px solid black;
    padding-top: 130px;
    margin-top: -133px;
    position: relative;
    width: 387px;
    margin-left: 578px;
}

section.block.breaking-news-d ul .relatedStories p {
    display: none !important;    
}

section.block.breaking-news-d ul .relatedStories li:nth-child(2) img {
    position: absolute;
    right: 50px;
    width: 38%;
    bottom: 35px;
    max-height: 74px;    
}

section.block.breaking-news-d ul .relatedStories li:first-child h4 {
	font-size: 1em;
    position: absolute;
    right: 192px;
    width: 49%;
    bottom: -10px;
}

.twoStories {
	left: 90px;
}

section.block.breaking-news-d ul .relatedStories li:nth-child(2) h4 {
	font-size: 1em;
    position: absolute;
    right: 22px;
    width: 49%;
    bottom: -10px;
}

/*
	********************************************************** Display Sizes - Breaking News E - BN Styling with Left Side Image **
	********************************************************** Display Sizes - Breaking News E - BN Styling with Left Side Image **
	********************************************************** Display Sizes - Breaking News E - BN Styling with Left Side Image **
*/

section.block.breaking-news-e {
	text-align: center;
}

section.block.breaking-news-e summary,
section.block.breaking-news-e h5,
section.block.breaking-news-e time,
section.block.breaking-news-e a.image,
section.block.breaking-news-e a.more {
	display:none;
}

section.block.breaking-news-e .item {
	padding:0;
	overflow: visible;
	border:none;
}

section.block.breaking-news-e h4 {
    text-align: center;
    width: 95%;
    margin: .75em !important;
}

section.block.breaking-news-e h4::before {
	content: "Breaking News";
	background-color: #000000;
    font-size: 17pt;
    padding: 10px;
    text-transform: uppercase;
    color: white !important;
	text-align: center;
	width: 26%;
}

section.block.breaking-news-e h4::after {
	content: "Read More";
    vertical-align: middle;
    background-color: black;
    text-align: center;
    width: 15%;
    color: white;
}

section.block.breaking-news-e a:hover {
	color: inherit;
}

section.block.breaking-news-e h4::before {
	display: block;
	width: 100%;
	background-color: #AB282E;
	text-align: left;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    border-bottom: double 10px #fff;
}
section.block.breaking-news-e h4::after {
	display: block;
	width: 100%;
	background: none;
	color: #AB282E; 
	text-align: right;
    padding: 10px 27px;
    font-size: 18px;
    text-transform: uppercase;
}
section.block.breaking-news-e h4{
	background-color: #fff;
    border: 1px solid #D8D8D8;
    height: 185px;
    font-size: 20px;
}
section.block.breaking-news-e .item{
	position: relative;
}
section.block.breaking-news-e a.image{
	display: block;
    position: absolute;
    top: 78px;
    left: 37px;
}
section.block.breaking-news-e a.image img{
	width: 200px;
    margin-top: -12px;
    margin-left: -8px;
}

/*
	********************************************************** Featured News Simple A **
	********************************************************** Featured News Simple A **
	********************************************************** Featured News Simple A **
*/

/* Base styling */
section.block.featurednews.simple-a a {
	text-decoration: none;
}
section.block.featurednews.simple-a h4,
section.block.featurednews.simple-a h5 {
/*	padding:0;
	margin:0;*/
}
section.block.featurednews.simple-a h5 {
	font-size:.8em;
	padding:.1em .4em;
	background-color: #aaa;
	color: #fff;
	font-weight:bold;
}

/* Column structure */
section.block.featurednews.simple-a li.item {
	width:44%;
	float:left;
	padding: 0 0 10px 20px;
}
section.block.featurednews.simple-a li.item:first-child {
	width:56%;
	padding: 0;
}

@media (max-width:650px) {
	body.wnMobile section.block.featurednews.simple-a li.item {
		width:100% !important;
		padding:10px !important;
		margin:0 !important;
	}
}

/* Hiding everything first to show selectively */
section.block.featurednews.simple-a li.item > * {
	display: none;
}

/* Show all headlines */
section.block.featurednews.simple-a a.headline,
section.block.featurednews.simple-a h5 {
	display: block;
}
/* Spacing between headlines */
section.block.featurednews.simple-a a.image {
	margin-bottom:1em;
}

/* Show everything in first assigned feature */
section.block.featurednews.simple-a li.item:first-child > * {
	display: block;
}

section.block.featurednews.simple-a li.item:first-child img {
	width:100%;
}

section.block.featurednews.simple-a li.item:first-child a.headline {
	font-size:2em;
}

/* Fix section title alignment */
section.block.featurednews.simple-a h4,
section.block.featurednews.simple-a h5,
section.block.featurednews.simple-a a.headline {
	/*float:left;*/
	display:inline !important;
}
section.block.featurednews.simple-a h5 {
	margin-left:10px;
	position: relative;
	top:-.2em;
}
section.block.featurednews.simple-a summary {
	clear:both;
}

/*
	********************************************************** Featured News - Overflow Three **
	********************************************************** Featured News - Overflow Three **
	********************************************************** Featured News - Overflow Three **
*/

section.block.overflow-three ul.group > li {
	padding:10px;
}

section.block.overflow-three ul.group > li:first-of-type {
	font-size: 1.1em;
	float:left;
	width:70%;
}
section.block.overflow-three ul.group > li:first-of-type time {
	display: none;
}
section.block.overflow-three ul.group > li:first-of-type h4 {
	margin:5px 0;
	font-size:1.7em;
}

section.block.overflow-three ul.group > li:nth-child(1) h4,
section.block.overflow-three ul.group > li:nth-child(2) h4,
section.block.overflow-three ul.group > li:nth-child(3) h4 {
	display: inline-block;
	margin:.4em 0;
}


section.block.overflow-three ul.group > li:nth-child(2),
section.block.overflow-three ul.group > li:nth-child(3) {
	width:30%;
	float:left;
	padding-left:0;
}

section.block.overflow-three ul.group > li:nth-child(1) img,
section.block.overflow-three ul.group > li:nth-child(2) img,
section.block.overflow-three ul.group > li:nth-child(3) img {
	margin:0;
	width:100%;
	height:auto;
}

section.block.overflow-three ul.group > li:nth-child(2) time,
section.block.overflow-three ul.group > li:nth-child(2) summary,
section.block.overflow-three ul.group > li:nth-child(3) time,
section.block.overflow-three ul.group > li:nth-child(3) summary{
	display: none;
}

section.block.overflow-three ul.group > li:nth-child(4) {
	padding-top:20px;
	clear: both;
}
section.block.overflow-three ul.group > li:last-of-type {
	padding-bottom:20px;
}

section.block.overflow-three h4 {
	margin:0 0 5px;
	font-size:1.3em;
	font-weight: bold;
}

section.block.overflow-three summary {
	margin-top:5px;
}

section.block.overflow-three a.image {
	display: inline-block;
	float:left;
}

section.block.overflow-three img {
	width:160px;
	height:90px;
	margin-right:5px;
}

/* When on homepage */


body.home section.block.overflow-three {
	border-top: 1px solid #eee;
}

body.home section.block.overflow-three:before {
	display: none;
}

body.home section.block.overflow-three ul.group > li {
	display: none;
}

body.home section.block.overflow-three ul.group > li:first-of-type {
	display: table;
	width: 100%;
	padding:0;
}

body.home section.block.overflow-three ul.group > li:first-of-type a.headline {
	display: table-header-group;
	padding: 7px 13px 0 13px;
}
body.home section.block.overflow-three ul.group > li:first-of-type a.headline h4 { margin: 5px 0 0 0; }
body.home section.block.overflow-three ul.group > li:first-of-type summary {
	display: block;
	padding: 0 13px 13px 13px;
}
body.home section.block.overflow-three ul.group > li:first-of-type a.image {
	display: table-footer-group;
	float: none;
}

/*
	********************************************************** Featured News - Rotate A **
	********************************************************** Featured News - Rotate A **
	********************************************************** Featured News - Rotate A **
*/

section.block.rotate-a .group{
	border-width: 1px;
	border-style: solid;
}

section.block.rotate-a .item {
	float:right;
	clear:right;
	width:40%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	padding:10px;
}

section.block.rotate-a summary,
section.block.rotate-a h5,
section.block.rotate-a time {
	display: none;
}

section.block.rotate-a img {
	width: 40%;
    padding-right: 10px;
}

section.block.rotate-a h4 {
	font-size: 1em;
}

section.block.rotate-a .item:first-of-type,
section.block.rotate-a .item:last-of-type {
	border-bottom: none;
}

section.block.rotate-a .item.hero {
	float:left;
	width:60%;
	border-left: none;
	border-right-width: 1px;
	border-right-style: solid;	
	padding:0;
}

section.block.rotate-a .item.hero a.image,
section.block.rotate-a .item.hero img {
	width:100%;
	height:100%;
	display: inline-block;
	padding:0;
}

section.block.rotate-a .item.hero a.headline,
section.block.rotate-a .item.hero h4 {
	width:100%;
	display: block;
	font-size: 1.5em;
}

/*
	********************************************************** Featured News - Rotate B **
	********************************************************** Featured News - Rotate B **
	********************************************************** Featured News - Rotate B **
*/

section.block.rotate-b {
	padding:10px;
}

section.block.rotate-b .slick-arrow 		{color:black;z-index:1;top:35%;}

section.block.rotate-b .slick-prev 			{left:0;}

section.block.rotate-b .slick-next 			{right:10px;}

section.block.rotate-b .slick-arrow:before 	{font-family: "FontAwesome";font-size:3em;}

section.block.rotate-b .slick-prev:before 	{content:"\f053";}

section.block.rotate-b .slick-next:before 	{content:"\f054";}

section.block.rotate-b .slick-dots {
	position: static; /* hack to undo absolute which forcs dots off wrapper */
}

section.block.rotate-b .item:focus {
	outline:none !important;
}

section.block.rotate-b a.headine,
section.block.rotate-b a.image {
	display:inline-block;
	position: relative;
	width:100%;
}

section.block.rotate-b img {
	width:100%;
}

section.block.rotate-b h4 {
	display: inline-block;
	width:100%;
	background-color: rgba(0,0,0,0.4);
	color:#fff;
	font-size:2em;
	padding:.5em;
	margin:0;	
	position: absolute;
	bottom: 0;
	left:0;
}

section.block.rotate-b summary {
	padding-top:10px;
}

/*
	********************************************************** Featured News - Rotate C **
	********************************************************** Featured News - Rotate C **
	********************************************************** Featured News - Rotate C **
*/

section.block.slick.rotate-c {}

section.block.rotate-c h5, 
section.block.rotate-c time {
	display: none;
} 

section.block.rotate-c .slick-arrow 		{color:black;z-index:1;top:35%;}

section.block.rotate-c .slick-prev 			{left:1px;}

section.block.rotate-c .slick-next 			{right:1px;}

section.block.rotate-c .slick-arrow:before 	{font-family: "FontAwesome";font-size:20px;}

section.block.rotate-c .slick-prev:before 	{content:"\f053";}

section.block.rotate-c .slick-next:before 	{content:"\f054";}

section.block.rotate-c .slick-dots {
	position: static; /* hack to undo absolute which forcs dots off wrapper */
}

section.block.rotate-c .item:focus {
	outline:none !important;
}

section.block.rotate-c a.image {
	display:inline-block;
	position: relative;
}

section.block.rotate-c img {
	width:100%;
}

section.block.rotate-c .group:first-of-type {
	background-color: #000;
	padding:0;
}

section.block.rotate-c .group:first-of-type a.image {
	width:60%;
	float:right;
}

section.block.rotate-c .group:first-of-type h4 {
    font-size: 32px;
}

section.block.rotate-c .group:first-of-type h4,
section.block.rotate-c .group:first-of-type h5,
section.block.rotate-c .group:first-of-type time,
section.block.rotate-c .group:first-of-type summary {
	float:right;
	clear:left;
	width:40%;
	margin:0;
	padding:10px 10px 0;
	display: inline-block;
	color:#fff;
}

section.block.slick.rotate-c .group:last-of-type {
	padding:0 30px;
	border:#eee 1px solid;
}


section.block.rotate-c summary {
	padding-top:10px;
}


/*
	********************************************************** Display Sizes - Standard **
	********************************************************** Display Sizes - Standard **
	********************************************************** Display Sizes - Standard **
*/

section.block.standard h4 {
	margin-bottom: .2em;
	font-size:1.3em;
}

section.block.standard img {
	margin-right:10px;
}

/*
	********************************************************** Display Sizes - Legacy **
	********************************************************** Display Sizes - Legacy **
	********************************************************** Display Sizes - Legacy **
*/

section.block.legacy h4 {
	margin:0;
}

section.block.legacy img {
	width:25%;
	margin-right:1em;
}

section.block.legacy time {
	padding:.5em 0;
}

section.block.legacy .item {
	padding: 1.5em 1em;
}

/*
	********************************************************** Display Sizes - Strip A **
	********************************************************** Display Sizes - Strip A **
	********************************************************** Display Sizes - Strip A **
*/

section.block.strip-a {}

section.block.strip-a .group.nested .item {
	border: none;
}

section.block.strip-a h5,
section.block.strip-a summary,
section.block.strip-a time {
	display: none;
}

section.block.strip-a h4,
section.block.strip-a img {
	width:100%;
	display: block;
	margin:0;
	font-size: 1em;
}

/*
	********************************************************** Display Sizes - Headlines A **
	********************************************************** Display Sizes - Headlines A **
	********************************************************** Display Sizes - Headlines A **
*/

section.block.headlines-a a.image,
section.block.headlines-a h5,
section.block.headlines-a time,
section.block.headlines-a summary {
	display: none;
}

section.block.headlines-a h3 {
	font-size: 1.8em;
	font-weight: bold;
}

section.block.headlines-a h4 {
	margin:5px 0;
	padding:0;
}

section.block.headlines-a > ul.group > li.item {
	float:left;
	width:50%;
	padding: 0 10px;
}

section.block.headlines-a > ul.group > li.item:nth-child(odd) {
	clear:both;
}

@media (max-width:375px) {
	body.wnMobile section.block.headlines-a > ul.group > li.item {
		width:100%;
		clear:both;
	}
}

section.block.headlines-a ul.group.nested > li.item:before {
	content: "\25a0 ";
	float: left;
	font-size: 1em;
	margin: 0 .5em 0 0;
}


/*
	********************************************************** Display Sizes - Headlines B **
	********************************************************** Display Sizes - Headlines B **
	********************************************************** Display Sizes - Headlines B **
*/

section.block.headlines-b time {
	display: none;
}

/*section.block.headlines-b h3 {
	margin-bottom: 5px;
	font-size: 2.5em;
	font-weight: normal;
}*/

section.block.headlines-b a.image {
	padding-right:5px;
	float:left;
}

section.block.headlines-b h4 {
	font-weight: bold;
}

section.block.headlines-b summary {
	clear:both;
	display: block;
}

@media (max-width:375px) {
	body.wnMobile section.block.headlines-b > ul.group > li.item {
		width:100%;
	}
}

/*
	********************************************************** Display Sizes - Two By Two A **
	********************************************************** Display Sizes - Two By Two A **
	********************************************************** Display Sizes - Two By Two A **
*/

section.block.two-by-two summary {
	display: none;
}

section.block.two-by-two img {
	width: 100%;
}

section.block.two-by-two a {
	display: block;
}

section.block.two-by-two h4 {
	font-size: 1.5em;
}

section.block.two-by-two .item {
	float:left;
	width:50%;
	padding-left:0;
}

section.block.two-by-two .item:nth-child(odd) {
	padding-right:10px;
}

section.block.two-by-two .item:nth-child(even) {
	padding-left:10px;
}

section.block.two-by-two .item.nested {
	width: 100%;
}
/*section.block.two-by-two .item.nested h3 {
	margin:0;
	font-size:2.5em;
	font-weight: normal;
}*/

@media (max-width:375px) {
	body.wnMobile section.block.two-by-two {
		padding:0 10px;
	}
	body.wnMobile section.block.two-by-two .item {
		width:100%;
		padding:5px;
	}
}

/*
	********************************************************** Display Sizes - Three By Two A **
	********************************************************** Display Sizes - Three By Two A **
	********************************************************** Display Sizes - Three By Two A **
*/

section.block.three-by-two summary {
	display: none;
}

section.block.three-by-two img {
	width: 100%;
}

section.block.three-by-two a {
	display: inline-block;
}

section.block.three-by-two h4 {
	margin:0;
}

section.block.three-by-two .item {
	float:left;
	width:33%;
	padding:10px;
	padding-left:0;
}

section.block.three-by-two .item.nested {
	width: 100%;
}

section.block.three-by-two .item.nested .item:nth-child(3n+1) {
	clear: both;
}
/*section.block.three-by-two .item.nested h3 {
	margin:0;
	font-size:2.5em;
	font-weight: normal;
}*/

@media (max-width:650px) {
	body.wnMobile section.block.three-by-two {
		padding-left:10px;
	}
	body.wnMobile section.block.three-by-two .item {
		width:50%;
	}
	body.wnMobile section.block.three-by-two .item.nested .item {
		clear: none;
	}
	body.wnMobile section.block.three-by-two .item.nested .item:nth-child(odd) {
		clear: both;
	}
}

@media (max-width:375px) {
	body.wnMobile section.block.three-by-two .item {
		width:100%;
	}
	body.wnMobile section.block.three-by-two .item.nested .item {
		clear: both;
	}
}

/*
	********************************************************** Display Sizes - Headlinebox A **
	********************************************************** Display Sizes - Headlinebox A **
	********************************************************** Display Sizes - Headlinebox A **
*/

section.block.headlinebox-a .item {
	width:50%;
	float:left;
	padding-bottom:10px;
}

section.block.headlinebox-a .group.nested li.item:nth-child(odd) {
	clear:left;
}

section.block.headlinebox-a img {
	width:50%;
	margin-right:5px;
}

section.block.headlinebox-a .item.nested {
	width:100%;
	float:none;
	clear:both;
}

/*
	********************************************************** Display Sizes - Headlinebox B **
	********************************************************** Display Sizes - Headlinebox B **
	********************************************************** Display Sizes - Headlinebox B **
*/

section.block.headlinebox-b .item.nested {
	width:50%;
	float:left;
	padding-bottom:10px;
}

section.block.headlinebox-b .item.nested:nth-child(odd) {
	clear:left;
}

section.block.headlinebox-b img {
	width:50%;
	margin-right:5px;
}

/*
	********************************************************** Display Sizes - Headlinebox B Hero **
	********************************************************** Display Sizes - Headlinebox B Hero **
	********************************************************** Display Sizes - Headlinebox B Hero **
*/

section.block.headlinebox-b-hero summary,
section.block.headlinebox-b-hero time,
section.block.headlinebox-b-hero h5,
section.block.headlinebox-b-hero a.image {
	display: none;
}

section.block.headlinebox-b-hero .group {
	width:100%;
}

section.block.headlinebox-b-hero .item.nested {
	width:49%;
	float:left;
	padding-bottom:10px;
}

section.block.headlinebox-b-hero .item.nested:nth-child(odd) {
	clear:left;
	margin-right:2%;
}

section.block.headlinebox-b-hero .item.nested .item:first-of-type {
	display: table;
}

section.block.headlinebox-b-hero .item.nested .item:first-of-type img,
section.block.headlinebox-b-hero .item.nested .item:first-of-type a.image {
	display: table-footer-group;
	width:100%;
}

section.block.headlinebox-b-hero .item.nested .item:first-of-type a.headine {
	display: inline-block;
	float:right;
}

section.block.headlinebox-b-hero img {
	width:50%;
	margin-right:5px;
}

/*	
	** Display Sizes - Tabs - A <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
	** Display Sizes - Tabs - A <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
	** Display Sizes - Tabs - A <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
*/
section.block.tabs-a .group {
}
section.block.tabs-a .group.nested li.item {
}
section.block.tabs-a .group.nested li.item time,
section.block.tabs-a .group.nested li.item summary { display: none; }
section.block.tabs-a .group.nested li.item img { 
	width: 40%;
	padding-right: 10px;
	float: left;
}
section.block.tabs-a .group.nested li.item h4 { font-size: 1em; }

section.block.tabs-a .tab-headers {
}
section.block.tabs-a .tab-headers h3 {
	width: auto;
	float: left;
	cursor: pointer;
	font-size: 1.2em;
}

/*
	********************************************************** Display Sizes - Slick Carosuel **
	********************************************************** Display Sizes - Slick Carosuel **
	********************************************************** Display Sizes - Slick Carosuel **
*/


/*section.block.slick:before {
	margin-left: -25px; 
}*/

section.block .group.slick-initialized {
	padding:0 25px; /* Hack to make arrows play nice */
}

section.block.slick summary {
	display: none;
	padding:0;
}

section.block.slick img {
	width: 100%;
}

section.block.slick .group {
	width: 100%;
}

section.block.slick .item {
	float:left; 
	width:200px;
	padding:10px;
	padding-left:0;
}

section.block.slick .item.nested {
	float:none; 
	width:100%;
	padding:0;
	padding-left:0;
	display: block;
}

section.block.slick .item:focus {
	outline:none !important;
}

.slick-arrow:before {
	color: inherit !important;
	background-color: inherit !important;
}

@media (max-width:375px) {
	body.wnMobile section.block.slick {
/*		margin-right:50px;
		margin-left:15px;*/
	}
}

/*
	********************************************************** Display Sizes - bullets a **
	********************************************************** Display Sizes - bullets a **
	********************************************************** Display Sizes - bullets a **
*/

section.block.bullets-a summary,
section.block.bullets-a h5,
section.block.bullets-a time,
section.block.bullets-a a.image,
section.block.bullets-a a.more {
	display:none;
}
 
section.block.bullets-a ul.nested, 
section.block.bullets-a ul.nested > li {
	position: relative;
}

section.block.bullets-a ul.nested > li::before {
	position: absolute;
	content: "\00B7";
	font-size: 3em;
	top: -22px;
	left: -10px;
}

section.block.bullets-a .item {
	padding:0;
	overflow: visible;
	border:none;
}

section.block.bullets-a h4 {
	margin:.5em;
	font-size:1.1em;
	font-weight: normal;
	text-align: left;
}

/*
	********************************************************** Display Sizes - Most Popular **
	********************************************************** Display Sizes - Most Popular **
	********************************************************** Display Sizes - Most Popular **
*/

section.block.mostpopular summary,
section.block.mostpopular h5,
section.block.mostpopular time,
section.block.mostpopular a.image,
section.block.mostpopular a.more {
	display:none;
}
section.block.mostpopular ul.nested, 
section.block.mostpopular ul.nested > li {
	list-style: decimal inside;
}
section.block.mostpopular .item {
	padding:0;
	overflow: visible;
	border:none;
}

section.block.mostpopular h4 {
	margin:.5em;
	font-size:1.1em;
	font-weight: normal;
}


/*
	********************************************************** Display Sizes - Bios A **
	********************************************************** Display Sizes - Bios A **
	********************************************************** Display Sizes - Bios A **
*/

section.block.bios-a .bylines .by,
section.block.bios-a .headline,
section.block.bios-a h5,
section.block.bios-a summary,
section.block.bios-a time {
	display:none;
}

section.block.bios-a ul.group.nested > li {
	position: relative;
}

section.block.bios-a img {
	width:70px;
	margin-right:10px;
}

section.block.bios-a .bylines {
	display: block;
	font-size: 1.1em !important;
	font-weight: bold;
/*	position: absolute;
	bottom: 0;
	left:90px;*/
}

section.block.bios-a .bylines address {
	font-style: normal;
}

section.block.bios-a .bylines .author,
section.block.bios-a .bylines .title {
	display: block;
}

section.block.bios-a .bylines .title:before {
	display: none;
}

section.block.bios-a .bylines .social {
	margin-right:5px;
	font-size: 1.5em;
}

section.block.bios-a .bylines .social {
	display:inline-block !important;
}

/*
	********************************************************** Display Sizes - Hero Player A **
	********************************************************** Display Sizes - Hero Player A **
	********************************************************** Display Sizes - Hero Player A **
*/

section.block.heroplayer-a {
	padding: 0 0 0 12px;
	margin-bottom: 30px;
}
section.block.heroplayer-a .group.nested .item {
    float: left;
    width: 202px;
    padding: 12px;
    padding-right: 0;
}
section.block.heroplayer-a .group.nested .item:first-child {
    width: 100%;
    padding-left: 0;
}
section.block.heroplayer-a .group.nested .item:nth-child(n+5) { display: none; }
section.block.heroplayer-a .group.nested .item img.wnImage { width: 100%; float: right; }
section.block.heroplayer-a .group.nested .item img.wnImage.wnImageLeft { float: right; }


section.block.heroplayer-a h4.abridged {
	font-weight: bold;
	font-size: 14px;
	top: 5px;
	position: relative;
}

/* .item feature specific rules */

section.block.heroplayer-a time, 
section.block.heroplayer-a h5, 
section.block.heroplayer-a summary, 
section.block.heroplayer-a a.more { display: none; }

section.block.heroplayer-a .item.category h3.abridged { margin: 10px 0 0 0; }


/*
	************************************************************* Feature - Weather Simple A **
	************************************************************* Feature - Weather Simple A **
	************************************************************* Feature - Weather Simple A **
*/

section.block.weather.simple-a {
    background-color: #2000EC;
    color:white;
    border:none;
}
section.block.weather.simple-a .ribbon {
    font-family: 'Roboto Condensed', sans-serif;
    padding:10px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
section.block.weather.simple-a .col             {   width:50%;float:left;           }
section.block.weather.simple-a .col.left        {   padding:10px 5px 10px 10px;     }
section.block.weather.simple-a .col.right       {   padding:10px 10px 5px 10px;     }
section.block.weather.simple-a .graphic         {   width:100%;                     }
section.block.weather.simple-a address {
    font-size:9px;
    font-weight:bold;
    font-style:normal;
    text-transform:uppercase;
}
section.block.weather.simple-a address:before   {   font-weight:100;content:'Currently in ';    }
section.block.weather.simple-a span.temp        {   font-weight:bold;font-size:3.5em;           }
section.block.weather.simple-a img.temp         {   height:2.5em;                               }
section.block.weather.simple-a span.temp:before {   content:'Currently';                        }
section.block.weather.simple-a span.temp:after  {   content:'\00b0';                            }
section.block.weather.simple-a span.hi:before   {   content:'Hi ';                              }
section.block.weather.simple-a span.lo:before   {   content:'Lo ';                              }
section.block.weather.simple-a .links {
    clear:both;
    width:100%;
    display:table;
}
section.block.weather.simple-a .link {
    background-color:black;
    font-weight:bold;
    color:white;
    padding:10px;
    display:table-cell;
}


/*
	************************************************************* Feature - Weather Simple B **
	************************************************************* Feature - Weather Simple B **
	************************************************************* Feature - Weather Simple B **
*/

section.block.weather.simple-b {
	background-color: #fff;
	color:#000;
	border:none;
}

section.block.weather.simple-b {
	border:#ddd 1px solid;
}
section.block.weather.simple-b .top {
	border-bottom: #ddd 1px solid;
	padding:8px;
}
section.block.weather.simple-b .right {
	border-left:#ddd 1px solid;
}

section.block.weather.simple-b td td {
	padding: 8px 4px;
	border-bottom: #ddd 1px solid;
}
section.block.weather.simple-b address {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	float:left;
}
section.block.weather.simple-b img.logo {
	float:right;
	width:100px;
}
section.block.weather.simple-b .dontuse.address:before   {   
	font-weight:100;content:'Currently in ';    
}

section.block.weather.simple-b table         	{   width:100%; 						}
section.block.weather.simple-b table .left        {   padding:8px 4px 8px 8px; 			}
section.block.weather.simple-b table .right       {}
section.block.weather.simple-b .graphic         {   width:100%;                 		}

section.block.weather.simple-b span.temp        {   font-weight:bold;font-size:32px;	}
section.block.weather.simple-b img.temp         {   
	height:3.5em;
	margin-right:8px;                               
}
section.block.weather.simple-b div.temp:before  {   
	content:'Currently';      
	display: block;
	font-size: 1em;
	margin-bottom: 20px;                      
}
section.block.weather.simple-b span.temp:after  {   
	content:'\00b0';                            
}
section.block.weather.simple-b .sky {
	margin-bottom: 8px;
}

section.block.weather.simple-b .hilo {
	font-weight: bold;
	font-size: 12px;
}
section.block.weather.simple-b span.hi:before   {   content:'Hi ';	}
section.block.weather.simple-b span.lo:before   {   content:'Lo ';	}

section.block.weather.simple-b .day {
	font-size: 18px;
	line-height:28px;
	font-weight: bold;
	vertical-align: middle;
}
section.block.weather.simple-b img.day        {   
	height:28px;
	vertical-align: middle;
}




section.block.weather.simple-b .links           {
	clear:both;
	width:100%;
	display:table;
}
section.block.weather.simple-b .link {
	background-color:black;
	font-weight:bold;
	color:white;
	padding:10px;
	display:table-cell;
}

/*
	************************************************************* Feature - Weather Micro A **
	************************************************************* Feature - Weather Micro A **
	************************************************************* Feature - Weather Micro A **
*/

section.weather.micro-a .temp {
	height:1em;
	line-height: 1em;
}
section.weather.micro-a img.temp {
	margin-right:.5em;
}
section.weather.micro-a span.temp:after {
	content:'\00b0'; 
}

/*
	************************************************************** Footer Simple A **
	************************************************************** Footer Simple A **
	************************************************************** Footer Simple A **
*/

footer.simple-a {

}

footer.simple-a .flexbox {
	-webkit-box-flex-wrap: wrap;
	-moz-box-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

footer.simple-a .flexitem {
	padding:3em;
}

/*footer.simple-a .flexitem.worldnow {
	-webkit-box-flex: 100%;
	-moz-box-flex: 100%;
	-webkit-flex: 100%;
	-ms-flex: 100%;
	flex: 100%;
}*/

footer.simple-a .search {
	text-align: center;	
}

footer.simple-a .search h4 {
	font-weight: normal;
	font-size: 1.4em;
}

footer.simple-a form.search * {
	border:0;
	margin:0;
	outline: none;
	padding:.2em 1em;
	font-size: 1em;
}

footer.simple-a form.search .text {
	width:80%;
	border:1px solid #ddd;
	color:#888;
}

footer.simple-a form.search .submit {
	width:20%;
	border:1px solid;
	cursor: pointer;
}

footer.simple-a .branding {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	width:33%;
}

footer.simple-a .contact a {
	display: block;
}

footer.simple-a address {
	font-style: normal;
	text-transform: capitalize;
}

footer.simple-a .contact p,
footer.simple-a .contact a {
	margin:1px 0;
}

footer.worldnow {
	padding:3em;
}

footer.worldnow p {
	margin:0 auto;
	padding-left:110px;
	background: url(http://ftpcontent.worldnow.com/wncorp/logos/worldnow_white.png) no-repeat left center;
	background-size: 99px;
}

footer.worldnow .clientname:after {
	content: attr(data-clientname);
}



